<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    
    <add name="Quartz_Console_App"
      connectionString="Data Source=144.92.212.87;Initial Catalog=2018FA422_TeamB;Persist Security Info=True;User ID=2018FA422_TeamB_Poet;Password=2018FA422_TeamB_Poet"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>